/*Event.JS CSS*/ 

body, html {
  height: 100%;
  background-color: #C8E6C9;
}
.sticky-footer {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
}
.icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  /* Style the icon bar links */
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
  }
  
  /* Style the social media icons with color, if you want */
  .icon-bar a:hover {
    background-color: #000;
  } 
  /* Avatar Picture in Side Bar */
  .avatar {
    vertical-align: middle;
    width: 155px;
    height: 155px;
    border-radius: 50%;
  }
  
  /* The sidebar menu */
  .sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #00695C; /* Magenta*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }
  
  /* The sidebar links */
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: #B2DFDB;
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* The button used to open the sidebar */
  .openbtn {
    font-size: 20px;
    cursor: progress;
    background-color: #00695C;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #00897B;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
  }
  .clearfix:after {
    content: " "; /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}
.wrapper {
  height: 100%;
  background-color: #C8E6C9;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* .fullframe {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */


.logo-pic {
  width: 50px;
  height: 50px;
}

li {
    float: right;
}
  
li a {
    display: inline-block;
    color: #c1fdda;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.name {
    margin-left: 100px;
    float: left;
    text-align: center;
    padding: 30px;
    color: #c1fdda;
    background: #013b20;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

img {
    padding: 20px;
    margin: auto;
    max-width: 960px;
    float: left;
}

h2 {
    color: #28bb34;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
    padding: 50px;
    margin: auto;
    max-width: 960px;
}

.main {
  padding: 10px;
  margin: 180px;
  margin-top: 140px;
  width: 960px;
  background-color: #c1fdda;
  justify-content: center;
}

.me {
  padding-top: 35px;
  border-bottom: #c1fdda;
  border-bottom-style: solid;
  text-align: left;
}

.title {
  width: 960px;
  font-family: Arial, Helvetica, sans-serif;
  color: #011d0c;
  background-color: #ffffff;
  display: block;
  justify-content: center;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */  
  border: 1px solid #dddddd; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
  
/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #28bb34;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
  
/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #86f18f;
}
  
/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  padding: 20px;
}

.content {
  margin-left: 180px;
  margin-right: 180px;
  margin-top: 100px;
  margin-bottom: 100px;
  position: relative;
  background-color: #9df7a1;
  justify-content: center;
}

.column1 {
  width: 50%;
  height: 100px;
  width: 350px;
  border-radius: 10px;
  position: relative;
}

.column2 {
  width: 50%;
  height: 100px;
  width: 350px;
  border-radius: 10px;
  position: relative;
}

.text-block {
  text-align: center;
  bottom: 20px;
  background-color: #c1fdda;
  color: white;
  width: 15%;
  height: 15px;
}

.contact {
  width: 960px;
  margin-left: 158px;
  margin-top: 100px;
  margin-bottom: 100px;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
  .sticky-footer {bottom: 0;}
}
#headerCard {
  background-color: #66BB6A;
  font-family: 'Courier New', Courier, monospace;
}
#bodyCard {
  background-color: white;
  font-family: 'Courier New', Courier, monospace;
}
#cardSet {
  margin-top: 10px;
  margin-bottom: 30px;
}